<template>
  <div class="home">
    <div class="truckers-functions">
      <img
        src="https://www.truckpad.com.br/uploads/2019/11/016f3cfa-truckpad-logo.svg"
        data-image-size="full"
        class="logo"
      />
      <div class="add-trucker">
        <input v-model="name" placeholder="Nome" />
        <input
          v-model="phone"
          v-mask="'(##) #####-####'"
          type="tel"
          placeholder="Telefone"
        />
        <input
          v-model="birthDate"
          v-mask="'##/##/####'"
          placeholder="Data de Nascimento"
        />
        <input v-model="cnh" v-mask="'###########'" placeholder="CNH" />
        <input v-model="category" v-mask="'A'" placeholder="Categoria da CNH" />
        <input v-model="cpf" v-mask="'###.###.###-##'" placeholder="CPF" />
        <span v-show="msg">{{ msg }}</span>
        <button @click="add">Adicionar</button>
      </div>
    </div>
    <div class="show-truckers">
      <Truckers :truckers="truckers" />
    </div>
  </div>
</template>

<script>
import Truckers from "@/components/Truckers.vue";

export default {
  data() {
    return {
      truckers: [
        {
          name: "Eliane Lúcia Bianca Drumond",
          cpf: "35685633041",
          birthDate: "19031974",
          phone: "51986190694",
          cnh: 93692159722,
          category: "E"
        },
        {
          name: "Gustavo Mateus Raimundo da Rosa",
          cpf: "79799769248",
          birthDate: "03071959",
          phone: "31992720990",
          cnh: 64562040368,
          category: "D"
        },
        {
          name: "Heloise Melissa Natália Moura",
          cpf: "30202202380",
          birthDate: "22021998",
          phone: "11981971174",
          cnh: 18067801247,
          category: "E"
        },
        {
          name: "Lívia Tatiane Mariah Araújo",
          cpf: "98385503960",
          birthDate: "13051993",
          phone: "93995588876",
          cnh: 72835044886,
          category: "E"
        },
        {
          name: "Aurora Sandra Moraes",
          cpf: "01380167396",
          birthDate: "23031990",
          phone: "96991275002",
          cnh: 90827820242,
          category: "E"
        },
        {
          name: "Sarah Rita Luana Fernandes",
          cpf: "61298708095",
          birthDate: "17091941",
          phone: "11984583409",
          cnh: 10042104550,
          category: "D"
        },
        {
          name: "Benedito Hugo Henrique Cardoso",
          cpf: "15774015068",
          birthDate: "25071993",
          phone: "82991691416",
          cnh: 85036305941,
          category: "D"
        }
      ],
      name: null,
      cpf: null,
      phone: null,
      birthDate: null,
      cnh: null,
      category: null,
      msg: null
    };
  },
  name: "Home",
  components: {
    Truckers
  },
  methods: {
    add() {
      if (
        !this.name ||
        !this.cpf ||
        !this.phone ||
        !this.birthDate ||
        !this.cnh ||
        !this.category
      ) {
        this.msg = "Preencha todos os campos";
        return false;
      }

      if (!this.validPhone(this.phone)) {
        console.log(this.phone);
        this.msg = "Campo Inválido: Telefone";
        return false;
      }

      if (!this.validDate(this.birthDate)) {
        console.log(this.birthDate);
        this.msg = "Campo Inválido: Data de Nascimento";
        return false;
      }

      if (!this.validCPF(this.cpf)) {
        console.log(this.cpf);
        this.msg = "Campo Inválido: CPF";
        return false;
      }

      this.truckers.push({
        name: this.name,
        cpf: this.cpf,
        phone: this.phone,
        birthDate: this.birthDate,
        cnh: this.cnh,
        category: this.category
      });

      (this.name = null),
        (this.cpf = null),
        (this.phone = null),
        (this.birthDate = null),
        (this.cnh = null),
        (this.category = null),
        (this.msg = "Adicionado com sucesso");
      return true;
    },
    validPhone(phoneNumber) {
      var unMasked = phoneNumber.replace(/[^0-9]/g, "");
      return (
        (unMasked.length === 10 || unMasked.length === 11) &&
        !/a-zA-Z]+/g.test(phoneNumber)
      );
    },
    validDate(date) {
      var dateRegex = /^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$/;

      if (!dateRegex.test(date)) return false;

      return true;
    },
    validCPF(cpf) {
      cpf = cpf.replace(/[^0-9]/g, "");
      var sum = 0;
      var remainder;

      if (cpf == "00000000000") return false;
      for (var i = 1; i <= 9; i++)
        sum = sum + parseInt(cpf.substring(i - 1, i)) * (11 - i);
      remainder = (sum * 10) % 11;

      if (remainder == 10 || remainder == 11) remainder = 0;
      if (remainder != parseInt(cpf.substring(9, 10))) return false;

      sum = 0;
      for (i = 1; i <= 10; i++)
        sum = sum + parseInt(cpf.substring(i - 1, i)) * (12 - i);
      remainder = (sum * 10) % 11;

      if (remainder == 10 || remainder == 11) remainder = 0;
      if (remainder != parseInt(cpf.substring(10, 11))) return false;
      return true;
    }
  }
};
</script>

<style lang="scss">
body {
  margin: 0;
}
.home {
  font-family: blinkmacsystemfont, -apple-system, segoe ui, roboto, helvetica,
    arial, sans-serif;
  font-size: 1rem;
  line-height: 1.2em;
  display: flex;

  .truckers-functions {
    width: 30%;
    background-color: #face48;
    padding: 10px;
    position: fixed;
    left: 0;
    height: 100%;

    .logo {
      margin: auto;
      width: 100%;
    }

    .add-trucker {
      margin: 15px 10px;
      display: grid;

      input {
        margin: 5px 0px;
        height: 15px;
        padding: 5px;
        border-radius: 7px;
        border: 1px solid #767676;
        font-weight: bold;
      }

      button {
        background-color: #000;
        border: none;
        border-radius: 7px;
        height: 30px;
        color: #ffffff;
        font-weight: 900;
        text-transform: uppercase;
        cursor: pointer;
      }

      span {
        color: #000;
        padding: 3px;
        font-weight: 600;
      }
    }
  }

  .show-truckers {
    color: #face48;
    background-color: #ffffff;
    display: inline-block;
    padding: 10px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 20px;
    width: 60%;
  }
}

@media only screen and (max-width: 620px) {
  .home {
    display: block;

    .truckers-functions {
      width: 98%;
      height: auto;
      position: relative;
      display: block;
    }
    .show-truckers {
      position: relative;
      width: 95%;
      display: block;
      right: auto;
    }
  }
}
</style>
