<template>
  <div class="truckers">
    <div
      class="trucker"
      v-for="(trucker, index) in truckers"
      :key="trucker[index]"
    >
      <div class="trucker-info">Nome: <input v-model="trucker.name" /></div>
      <div class="trucker-info">
        Telefone:
        <input type="tel" v-mask="'(##) #####-####'" v-model="trucker.phone" />
      </div>
      <div class="trucker-info">
        Data de Nascimento:
        <input v-mask="'##/##/####'" v-model="trucker.birthDate" />
      </div>
      <div class="trucker-info">CNH: <input v-model="trucker.cnh" /></div>
      <div class="trucker-info">
        Tipo de CNH: <input v-model="trucker.category" />
      </div>
      <div class="trucker-info">
        CPF: <input v-mask="'###.###.###-##'" v-model="trucker.cpf" />
      </div>
      <div>
        <span v-show="msg">{{ msg }}</span>
        <button @click="update(index)">Atualizar</button>
        <button>Inativar</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    truckers: {
      type: [Array, Object]
    }
  },
  data() {
    return {
      msg: null
    };
  },
  name: "Truckers",
  methods: {
    update(index) {
      if (!this.validPhone(this.truckers[index].phone)) {
        this.msg = "Campo inválido: Telefone";
        return false;
      }

      if (!this.validDate(this.truckers[index].birthDate)) {
        this.msg = "Campo inválido: Data de Nascimento";
        return false;
      }

      if (!this.validCPF(this.truckers[index].cpf)) {
        this.msg = "Campo inválido: CPF";
        return false;
      }
      this.truckers[index] = {
        name: this.truckers[index].name,
        cpf: this.truckers[index].cpf,
        phone: this.truckers[index].phone,
        birthDate: this.truckers[index].birthDate,
        cnh: this.truckers[index].cnh,
        category: this.truckers[index].category
      };

      this.msg = "Atualizado com sucesso";
      return true;
    },
    validPhone(phoneNumber) {
      var unMasked = phoneNumber.replace(/[^0-9]/g, "");
      return (
        (unMasked.length === 10 || unMasked.length === 11) &&
        !/a-zA-Z]+/g.test(phoneNumber)
      );
    },
    validDate(date) {
      var dateRegex = /^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$/;

      if (!dateRegex.test(date)) return false;

      return true;
    },
    validCPF(cpf) {
      cpf = cpf.replace(/[^0-9]/g, "");
      var sum = 0;
      var remainder;

      if (cpf == "00000000000") return false;
      for (var i = 1; i <= 9; i++)
        sum = sum + parseInt(cpf.substring(i - 1, i)) * (11 - i);
      remainder = (sum * 10) % 11;

      if (remainder == 10 || remainder == 11) remainder = 0;
      if (remainder != parseInt(cpf.substring(9, 10))) return false;

      sum = 0;
      for (i = 1; i <= 10; i++)
        sum = sum + parseInt(cpf.substring(i - 1, i)) * (12 - i);
      remainder = (sum * 10) % 11;

      if (remainder == 10 || remainder == 11) remainder = 0;
      if (remainder != parseInt(cpf.substring(10, 11))) return false;
      return true;
    }
  }
};
</script>

<style lang="scss">
.truckers {
  margin: 10px auto;
  max-width: 100%;
  font-size: 1.3rem;
  line-height: 2rem;

  .trucker {
    font-weight: 700;
    display: grid;
    border: 3px solid #f9c72e7a;
    padding: 20px;
    margin: auto auto 20px auto;
    border-radius: 15px;
    box-shadow: #79797957 5px 5px 10px;

    .trucker-info {
      text-align: left;

      input {
        margin: 5px 0px;
        height: 15px;
        padding: 5px;
        border-radius: 7px;
        border: 1px solid #767676;
        font-weight: bold;
        width: 100%;
      }
    }

    button {
      margin: 10px;
      width: 30%;
      padding: 5px;
      border: 2px solid #face48;
      border-radius: 5px;
      background: #face48;
      color: #000;
      font-weight: 800;
      text-transform: uppercase;
      cursor: pointer;
    }

    span {
      color: #000;
      padding: 3px;
      font-weight: 600;
    }
  }
}
</style>
